:root {
    --color-neutral: hsl(0, 0%, 59%);
    --color-main-bg: hsl(185, 75%, 39%);
    --color-card-bg: white;
    --color-font-card-bold: hsl(229, 23%, 23%);

    --font-large: 18px;
    --font: 'Kumbh Sans', sans-serif;
    --font-regular: 400;
    --font-bold: 700;
}

html, body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: var(--font)
}

.main {
    background-color: var(--color-main-bg);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bg-bubble {
    position: absolute;
}

#bubble-top {
    top: -70%;
    left: -20%;
}

#bubble-bottom {
    bottom: -80%;
    right: -20%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-card-bg);
    border-radius: 10px;
    height: 50%;
    width: 25%;
    z-index: 2;
    overflow: hidden;
    box-shadow: 
}

.card-pattern {
    position: absolute;
    height: 20%;
    width: 25%;
    border-radius: 10px 10px 0 0;
    background-image: url("./images/bg-pattern-card.svg")
}

.user-all {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
    z-index: 3;
    padding: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.user-image {
    border: solid white 5px;
    border-radius: 50%;

}

.user-info {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.name, .number {
    font-size: var(--font-large);
    color: var(--color-font-card-bold);
    font-weight: var(--font-bold);
}

.name {
    margin-bottom: 0;
    margin-right: 5px;
}

.age {
    color: var(--color-neutral);
    font-weight: var(--font-regular);
}

.city {
    color: var(--color-neutral);
}

hr {
    height: 0.5px;
    width: 100%;
    background-color: var(--color-neutral);
}

.stats {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.stat-box {
    line-height: 0.3rem;
    text-align: center;
}

.label {
    color: var(--color-neutral);
    font-size: 12px;
}

/* mobile: 375px
desktop: 1440px */