:root {
    --color-neutral: hsl(0, 0%, 59%);
    --color-main-bg: hsl(185, 75%, 39%);
    --color-card-bg: white;
    --color-font-card-bold: hsl(229, 23%, 23%);

    --font-large: 18px;
    --font: 'Kumbh Sans', sans-serif;
    --font-regular: 400;
    --font-bold: 700;
}

html, body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: var(--font);
}

.main {
    background-color: var(--color-main-bg);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-bubble {
    position: fixed;
}

#bubble-top {
    top: -40em;
    left: -15em;
}

#bubble-bottom {
    bottom: -40em;
    right: -15em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-card-bg);
    border-radius: 12px;
    height: 20em;
    min-height: 22em;
    max-height: 10em;
    width: 21em;
    min-width: 10em;
    z-index: 2;
    overflow: hidden;
}

.card-pattern {
    position: absolute;
    height: 8em;
    min-height: 8em;
    width: 21em;
    border-radius: 10px 10px 0 0;
    background-image: url("./images/bg-pattern-card.svg")
}

.user-all {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4em;
    z-index: 3;
    
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
}

.user-image {
    border: solid white 7px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.name, .number {
    font-size: var(--font-large);
    color: var(--color-font-card-bold);
    font-weight: var(--font-bold);
}

.name {
    margin-bottom: 0;
    margin-right: 5px;
}

.age {
    color: var(--color-neutral);
    font-weight: var(--font-regular);
}

.city {
    color: var(--color-neutral);
    font-size: 15px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    min-height: 3em;
    width: 100%;
    border-top: 1px solid var(--color-neutral);
}

.stat-box {
    line-height: 0.3rem;
    text-align: center;
    padding: 0.5em;
}

.label {
    color: var(--color-neutral);
    font-size: 10px;
    letter-spacing: 0.2em;
}

.attribution {
    position: absolute;
    bottom: 0;
}

@media (max-width: 375px) {
    .bg-bubble {
        position: fixed;
    }

    #bubble-top {
        left: -40em;
        top: -40em;
    }

    #bubble-bottom {
        right: -40em;
        bottom: -40em;
    }
}
/* mobile: 375px
desktop: 1440px */